.bob{
    text-align: center;
    border-radius: 20px;
    border-width: 10px;
}
.image-responsive{
    font-weight: bold;
    font-family: initial;
    font-size: 22px;
height: 200px;
width: 300px;
}
.mini_result{
    font-style: italic;
    font-size: 19px;

}
.footer{
    font-weight: bold;
    font-family: cursive;
}
body{
    background-color: lavender;
}